MONGO_URI=mongodb+srv://bancoatlasapp_db_user:<SUA_SENHA>@atlasbank.asmzvgh.mongodb.net/banco?appName=atlasBank
DB_NAME=banco
EMAIL_REMETENTE=example@gmail.com
EMAIL_SENHA=<SUA_SENHA>
SMTP_SERVIDOR=smtp.gmail.com
SMTP_PORTA=587